<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="jdbcTypeForNull" value="NULL"/>
    <!-- キャメルケースに対応させる。 -->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <!-- 同一トランザクション、同一パラメータにおけるクエリ結果をキャッシュしない -->
    <setting name="localCacheScope" value="STATEMENT" />
  </settings>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC" />
      <dataSource type="POOLED">
        <property name="driver" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost/" />
        <property name="username" value="postgres" />
        <property name="password" value="p@ssw0rd" />
      </dataSource>
    </environment>
  </environments>
  <mappers>
  </mappers>
</configuration>
