<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>エイムソフト　研修システム</title>
  </head>
<body>
  <h3>給与一覧画面</h3>
  <table>
    <thead>
      <tr>
        <td style="width: 100px;"><p style="text-align:center; font-weight:700">社員ID</p></td>
        <td style="width: 100px;"><p style="text-align:center; font-weight:700">社員名</p></td>
        <td style="width: 100px;"><p style="text-align:center; font-weight:700">付与年月</p></td>
        <td style="width: 100px;"><p style="text-align:center; font-weight:700">給与金額</p></td>
      </tr>
    </thead>
    <tr data-th-each="payment : ${paymentList}">
      <td style="width: 100px;"><p style="text-align:center;" data-th-text="${payment.id}"></p></td>
      <td style="width: 100px;"><p style="text-align:center;" data-th-text="${payment.name}"></p></td>
      <td style="width: 100px;"><p style="text-align:center;" data-th-text="${payment.paymentDate}"></p></td>
      <td style="width: 250px;"><p style="text-align:center;" data-th-text="${payment.paymentAmount}"></p></td>
    </tr>
  </table>
  <p><a data-th-href="@{/}">トップへ戻る</a></p>
</body>
</html>